IP_ADDRESS = "192.168.0.1"
PORT = 5001
RECIPES_PORT = 5002
KEEP_EMAIL = "example@example.com"
KEEP_PASSWORD = "google_keep_password"
DB_USER = "root"
DB_PASSWORD = "root"
DB_HOST = "localhost"
DB_PORT = 3306
DB_DATABASE = "db_name"
DB_QUERY_GET_ALL = "SELECT * FROM recipes_view"
DB_QUERY_GET_DISH_LIST = "SELECT r.name AS 'Name', r.url AS 'URL' FROM recipes_view r WHERE r.id in"
DB_QUERY_INGREDIENTS_1 = "SELECT cast(SUM(ri.amount) as VARCHAR(30)) AS 'Amount', un.name AS 'Unit of Measure', i.name AS 'Ingredient' FROM recipe r JOIN recipe_ingredient ri on r.id = ri.recipe_id JOIN ingredient i on i.id = ri.ingredient_id LEFT OUTER JOIN unit un on un.id = ri.unit_id WHERE r.id in"
DB_QUERY_INGREDIENTS_2 = "GROUP BY i.id ORDER BY i.category_id;"





